<section class="my-3">
    <div class="container">
        <h1 class="fw-bold fs-1 lh-1  mb-5 text-center">Promise & Async Await</h1> 
        <div class="row">
            <div class="col-md-4">
                <strong>Ex-01 :  With Promise</strong>
                <hr>
                <button class="btn btn-primary" (click)="promiseFun()">Buy Laptop</button>
                <hr>
                <div id="result">{{promiseVal}}</div>
            </div>
            <div class="col-md-4">
                <strong>Ex-02 : With Async Await</strong>
                <hr>
                <button class="btn btn-primary" (click)="getData()">Buy Laptop</button>
                <hr>
                <div id="result2">{{AsyncAwaitVal}}</div>
            </div>
            <div class="col-md-4">
                <strong>Ex-03 : With Fetch Api</strong>
                <hr>
                <button class="btn btn-primary" (click)="fetchApi()">Buy Laptop</button>
                <hr>
                <div id="result3">Data</div>
            </div>
        </div>
    </div>
</section>
