<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list">
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="fromEvent">fromEvent</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="interval">Interval</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="of-from">Of From</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="toArray">to Array</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="customObervable">Custom Observable</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="map">Map</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="pluck">Pluck</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="filter">Filter</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="tap">Tap</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="take">Take</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="retry">Retry , RetryWhen, Scan and  Delay</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="debounce">DebounceTime & DistinctUntilChanged</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="subject">Subject & BehaviourSubject</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="replay">Replay Subject</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="async">Async Subject</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="concat">Concat</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="merge">Merge</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="mergeMap">MergeMap</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="concatMap">ConcatMap</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="concatMap2">ConcatMap2 with Mobile Notification</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="switchMap">switchMap</a>
                    </li>
                     <li class="animate__animated animate__backInRight">
                        <a routerLink="switchMap2">switchMap With Searching Filter</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="exhaustMap">ExhaustMap</a>
                    </li>
                    <li class="animate__animated animate__backInRight">
                        <a routerLink="shareReplay">ShareReplay</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="combineLatest">CombineLatest</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="catchError">CatchError & ThrowError</a>
                    </li>
                    <li class="animate__animated animate__backInLeft">
                        <a routerLink="completeRxjs">Complete Rxjs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
