/* frosted glass effect */
li {
  height: 150px;
  width: 250px;
  background: rgb(255, 255, 255);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  // border: 2px outset rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
  margin: 10px 5px;
  transition: all .3s ease-in-out;
 
}

li:hover{
  transform: scale(1);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  border: none;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  font-weight: 400;
}

.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #969696;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}